{% extends "layouts.html" %} <!-- we want this page to be in the layouts.html format  -->
{% block title%}Buttons Page{% endblock %} <!-- the contents of these blocks are what will be placed in the layouts template  -->

{% block content %}
<form action="#" method="post"> <!-- form is how we send info to website, action is the url to redirect to when form submitted,
  # means same page, method (get vs post), post means we will be taking the information from website, get means the website
  takes the information from here. Default is get-->
    <p>pick a color and choose a file!</p>
    <p><input type="text" name = "clr"</p> <!--input type for a text -->
    <p><input type="file" id="randfile" name="randfile" /> </p> <!--input type for a file-->

    <p>x1 : <input type="text" name = "x1"</p>
    <p>y1 : <input type="text" name = "y1"</p>
    <p>x2 : <input type="text" name = "x2"</p>
    <p>y2 : <input type="text" name = "y2"</p>
    <p>x3 : <input type="text" name = "x3"</p>
    <p>y3 : <input type="text" name = "y3"</p>

    <p><input type="submit" value="continue"</p>
</form>
{% endblock %}